<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Lista delle Ricette</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>

	<h1>Ricette</h1>

	<h3>Filtri:</h3>
	<!-- Form per il filtraggio per nome della ricetta -->
	<form action="/public/filterRecipes" method="GET">
		<label for="name">per titolo:</label>
		<input type="text" id="name" name="name">
		<button type="submit">Filtra</button>
	</form>

	<h3>Lista:</h3>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="recipe : ${recipes}">
			<a th:href="@{'/public/recipe' + '/' + ${recipe.id}}"
				th:text="${recipe.name} + ' ('+ ${recipe.inventor.name} + ' ' + ${recipe.inventor.surname} + ')'"></a>
		</li>
	</ul>
</body>

</html>