<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Homepage chef</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/public/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/public/login">Login</a>
		</div>
	</header>

	<div><img src="/images/logo-siwfood.png" width="50%" /></div>

	<!-- Stampiamo il nome e il cognome dell'utente loggato -->
	<h1 th:text="'Benvenuto, ' + ${nome} + ' ' + ${cognome}">Benvenuto, utente</h1>

	<h3>Consultazione archivio:</h3>
	<ul>
		<li>
			<a href="/public/chefs">Elenco </a><i>degli chef</i>
		</li>
		<li>
			<a href="/public/recipes">Elenco </a><i>delle ricette</i>
		</li>
		<li>
			<a href="/chef/ingredients">Elenco </a><i>degli ingredienti</i>
		</li>
	</ul>

	<div>
		<h3>Gestione archivio personale:</h3>
	</div>
	<ul>
		<li>
			<a href="/chef/manageRecipesChef">Gestione </a><i>delle ricette personali</i>
		</li>
		<li>
			<a href="/chef/manageIngredients">Gestione </a><i>degli ingredienti</i>
		</li>
		</li>
		<li>
			<a href="/chef/updateAccount">Aggiorna il profilo</a>
		</li>
	</ul>
</body>

</html>